.main {
  display: flex;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  &_input {
    width: 100%;
    margin-bottom: 40px
  }
}

.sidebar {
  width: 500px;
  padding: 30px;
  background-color: $primary-color;

  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_close_button {
    display: none !important;
    height: 30px;

    @include media-breakpoint-down(sm) {
      display: block !important;
    }
  }

  &--hidden {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    width: 100%;
    min-height: 100%;
  }
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.item-card {
  @include media-breakpoint-down(md) {
    width: 100% !important;
  }

}

.ui {
  &.grid > [class*="four wide"] {
    &.column {
      &.item-column {
        @include media-breakpoint-down(md) {
          width: 100% !important;
        }
      }
    }
  }
}
