<nav class="menu">
  <LinkTo @route="home" class="menu-index">
    Home
  </LinkTo>
  <LinkTo @route="credits" class="menu-index">
    Credits
  </LinkTo>
  <LinkTo @route="search" class="menu-index">
    Search
  </LinkTo>
</nav>
