<article class="ui card item-card">
  <div class="image">
    <img src={{@imageUrl}}>
  </div>
  <div class="content">
    <LinkTo @route={{@route}} @model={{@id}}>
      <span class="header">{{@name}}</span>
    </LinkTo>
  </div>
</article>
